<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="views/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container center" id="login-page">

        <form method="" id="<%- id %>">
            <h1 class="mb-4">Reset Password</h1>

            <div id="textfield-container" class="my-5">
              <div class="alert alert-danger d-none" role="alert" id="alert">
                This is a danger alert—check it out!
              </div>

              <div class="alert alert-success d-none" role="alert" id="success-alert">
                <strong style="font-weight: bold;">Success:</strong> New password set!
              </div>

              <div class="form-group" style="margin-bottom: 32px;">
                <!-- <label for="exampleInputEmail1">Current Password</label> -->
                <input type="password" class="form-control" id="password-input" aria-describedby="emailHelp" placeholder="Current password">
              </div>

              <div class="form-group mb-3">
                <!-- <label for="exampleInputPassword1">New Password</label> -->
                <input type="password" class="form-control" id="newpassword-input" placeholder="New password">
              </div>

              <div class="form-group">
                <!-- <label for="exampleInputPassword1">New Password</label> -->
                <input type="password" class="form-control" id="newpassword2-input" placeholder="New password">
              </div>

            </div>

            <div class="d-flex d-flex justify-content-center mt-5">
                <button class="btn btn-primary" id="submit-btn">Reset Password</button>
            </div>
          </form>

    </div>



    <script>
      const submitBtn = document.getElementById('submit-btn')

      submitBtn.addEventListener('click', async e => {
        e.preventDefault()
        const password = document.getElementById('password-input').value
        const newPassword = document.getElementById('newpassword-input').value
        const newPassword2 = document.getElementById('newpassword2-input').value
        const csrfToken = document.querySelector('form').id

        console.log(password, newPassword, newPassword2, csrfToken)

        if (!password || !newPassword || !newPassword2) {
          showError('Please fill out all required fields')
          return
        }

        const url = `/api/users/update-password?password=${password}&newPassword=${newPassword}&newPassword2=${newPassword2}&csrfToken=${csrfToken}`
        const res = await fetch(url, { method: 'PATCH' })
        console.log(res)
        if (res.status == 200) {
          showSuccess()
          hideError()

          setTimeout(function () {
            window.location.href = '/login';
          }, 1000); //will call the function after 2 secs.
        } else {
          const json = await res.json()
          const errorMsg = json.error
          showError(errorMsg)
        }
      })

      function showError(message) {
        const errorEl = document.querySelector('#alert')
        errorEl.classList.remove("d-none")
        errorEl.innerHTML = message
      }

      function showSuccess() {
        const successEl = document.querySelector('#success-alert')
        successEl.classList.remove("d-none")
      }

      function hideError() {
        const errorEl = document.querySelector('#alert')
        errorEl.classList.add("d-none")
        errorEl.innerHTML = ''
      }

    </script>
</body>
</html>